In [1]:
%env CUDA_VISIBLE_DEVICES=1 TOKENIZERS_PARALLELISM=true

env: CUDA_VISIBLE_DEVICES=1 TOKENIZERS_PARALLELISM=true

### Task 1

In [2]:
from task1.train import train

In [3]:
train(with_amp=False, scaler_type=None)

Loss: 0.6231 Accuracy: 92.0922: 100%|██████████| 40/40 [00:39<00:00,  1.00it/s]
Loss: 0.6219 Accuracy: 90.974: 100%|██████████| 40/40 [00:39<00:00,  1.01it/s]
Loss: 0.621 Accuracy: 92.521: 100%|██████████| 40/40 [00:39<00:00,  1.01it/s]
Loss: 0.6141 Accuracy: 93.0211: 100%|██████████| 40/40 [00:40<00:00,  1.02s/it]
Loss: 0.6165 Accuracy: 92.918: 100%|██████████| 40/40 [00:39<00:00,  1.02it/s]

In [4]:
train(with_amp=True, scaler_type="static")

Loss: 0.6091 Accuracy: 95.3675: 100%|██████████| 40/40 [00:38<00:00,  1.05it/s]
Loss: 0.5882 Accuracy: 97.2307: 100%|██████████| 40/40 [00:40<00:00,  1.02s/it]
Loss: 0.5855 Accuracy: 98.028: 100%|██████████| 40/40 [00:37<00:00,  1.07it/s]
Loss: 0.5875 Accuracy: 98.6241: 100%|██████████| 40/40 [00:39<00:00,  1.02it/s]
Loss: 0.5857 Accuracy: 98.6872: 100%|██████████| 40/40 [00:38<00:00,  1.05it/s]

In [5]:
train(with_amp=True, scaler_type="dynamic")

Loss: 0.607 Accuracy: 94.4436: 100%|██████████| 40/40 [00:36<00:00,  1.11it/s]
Loss: 0.5916 Accuracy: 97.7065: 100%|██████████| 40/40 [00:39<00:00,  1.02it/s]
Loss: 0.5886 Accuracy: 98.324: 100%|██████████| 40/40 [00:37<00:00,  1.07it/s]
Loss: 0.583 Accuracy: 98.5087: 100%|██████████| 40/40 [00:40<00:00,  1.00s/it]
Loss: 0.5847 Accuracy: 98.7843: 100%|██████████| 40/40 [00:38<00:00,  1.05it/s]

### Task 2

In [2]:
from task2.run_epoch import run_epoch, DataMode

In [3]:
run_epoch(DataMode.BRAIN)

100%|██████████| 313/313 [01:24<00:00,  3.71it/s]

       pad_token_ratio        time
count       308.000000  308.000000
mean          0.849065    0.264153
std           0.034805    0.009414
min           0.740527    0.153034
25%           0.828662    0.260904
50%           0.849316    0.266262
75%           0.874780    0.269561
max           0.924707    0.273942

In [4]:
run_epoch(DataMode.BIG_BRAIN)

100%|██████████| 313/313 [00:38<00:00,  8.09it/s]

       pad_token_ratio        time
count       308.000000  308.000000
mean          0.660119    0.121258
std           0.079391    0.034712
min           0.411909    0.060766
25%           0.607780    0.097896
50%           0.659488    0.116144
75%           0.719950    0.136782
max           0.845513    0.272557

In [3]:
run_epoch(DataMode.ULTRA_BIG_BRAIN)

100%|██████████| 313/313 [00:36<00:00,  8.56it/s]

       pad_token_ratio        time
count       308.000000  308.000000
mean          0.659161    0.113308
std           0.081057    0.032524
min           0.404622    0.047889
25%           0.606761    0.091050
50%           0.668085    0.108968
75%           0.717234    0.128947
max           0.833252    0.261120

In [5]:
run_epoch(DataMode.ULTRA_BIG_BRAIN, k=40)

100%|██████████| 319/319 [00:13<00:00, 23.52it/s]

       pad_token_ratio        time
count       314.000000  314.000000
mean          0.313935    0.041014
std           0.240596    0.031335
min           0.000000    0.009060
25%           0.104102    0.013215
50%           0.184887    0.028877
75%           0.583856    0.056474
max           0.717188    0.147319

In [3]:
run_epoch(DataMode.ULTRA_BIG_BRAIN, k=20)

100%|██████████| 328/328 [00:13<00:00, 23.95it/s]

       pad_token_ratio        time
count       323.000000  323.000000
mean          0.190114    0.039279
std           0.165108    0.030606
min           0.000000    0.010291
25%           0.051950    0.011628
50%           0.109110    0.030553
75%           0.353423    0.058876
max           0.534722    0.138638

In [4]:
run_epoch(DataMode.ULTRA_BIG_BRAIN, k=5)

100%|██████████| 368/368 [00:12<00:00, 29.44it/s]

       pad_token_ratio        time
count       363.000000  363.000000
mean          0.062022    0.032357
std           0.071224    0.023907
min           0.000000    0.009031
25%           0.010196    0.010781
50%           0.020312    0.025270
75%           0.131250    0.047643
max           0.262500    0.115270

In [ ]:
run_epoch(DataMode.ULTRA_DUPER_BIG_BRAIN)